.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

# CSV files
*.csv

# VSCode settings
.vscode/

/.quarto/

# R script for data model
data-raw/helpers_report.R
data-raw/metrics_report.R
data-raw/model_training_report_nosemantic.qmd
docs

**/*.quarto_ipynb
inst/doc
**/.quarto/

# R CMD check output
..Rcheck/

# Local playground scripts
_playground/
